<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Dischi AJAX con backend</title>

	<link rel="stylesheet" href="assets/style.css">
</head>
<body>
	<div id="app">
		<header>
			<div id="header-container">
				<div class="header-left"></div>
				<div class="header-right">
					<select @change="getList" name="genre" v-model="genre">
						<option value="all">All</option>
						<option v-for="(genre, index) in genres" :key="index" :value="genre">{{ genre }}</option>

					</select>
				</div>
			</div>
		</header>

		<main>
			<div class="container">
				<div id="discs-container">
					<div v-for="(disc, index) in discs" :key="index" class="disc">
						<img :src="disc.poster" :alt="disc.title">
						<strong>{{ disc.title }}</strong>
						<small>{{ disc.author }}</small>
						<small>{{ disc.year }}</small>
					</div>
				</div>
			</div>
		</main>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script src="assets/script.js"></script>
</body>
</html>